{{> hamburgerMenu }}
<main id="main" class="manage-comments">
    <section class="settings container">
        <!-- begin approved comments page header -->
        <header class="section-header has-search">
            <h1 class="heading-font">Approved ({{ commentCount }})</h1>
            {{!!> commentsSearch }}
        </header>
        {{> commentsActions }}
        <section class="settings-column comments">
            {{#each comments}}
            <div class="card approved">
                <input type="checkbox" id="comment-action-{{ id }}" class="comment-single-select" name="comment-action" value="{{ id }}">
                <div class="comment-info">
                    <span class="commenter-name">
                        {{#if author.email}}
                        <a href="mailto: {{ author.email }}">{{ author.name }}</a>
                        {{else}}
                        {{ author.name }}
                        {{/if}}
                    </span>
                    {{#if author.website}}
                    <span class="commenter-url"><a href="{{ author.website }}" target="_blank" rel="noreferrer"
                            title="Visit commenter's homepage">({{ author.website }})</a></span>
                    {{/if}}
                    commented <span title="{{ dateFormat postedAt 'llll' }}">{{ relativePostedAt }}</span>.
                </div>
                <div class="comment-info">
                    <span class="commenter-comment">{{ text }}</span>
                </div>
                <div class="comment-info">
                    on <span class="comment-post"><a href="{{ postUrl }}" target="_blank" rel="noreferrer"
                            title="Visit commented post">{{#if postTitle}}{{ postTitle }}{{else}}{{ postUrl }}{{/if}}</a></span>
                </div>
                <div class="manage-comment">
                    <button data-id="{{ id }}" 
                            title="delete comment" class="btn delete"><img class="icon icon-small"
                            src="/assets/images/icons/trash.svg" alt=""></button>
                </div>
            </div>
            {{/each}}

            {{#unless comments}}
            <section class="import-comments">
                <p>There are no comments yet, check back later!</p>
                <p>On a second thought, maybe you want to import comments from your existing app?</p>
                <p>It needs to be a JSON in the following format:</p>
                <blockquote>
                <pre>
            [
            {
            "posted_at": "2021-02-12 14:17:17",
            "page_url": "https://example.com/blog/2020-12-you-are-looking-awesome-today/",
            "page_title": "You are looking awesome today!",
            "author": "Lucy L.",
            "text": "Wonderful post, thank you so much for inspiration!",
            "email": "lucy.poster@mailinator.com",
            "website": "https://lucy.blogspot.com"
            }
            ]
                </pre>
                (The <code>page_title</code> field is optional)
                </blockquote>
                <form action="/account/import?_csrf={{csrfToken}}"
                    method="POST"
                    enctype="multipart/form-data"
                    class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <label class="visually-hidden" for="importjson">File</label>
                    <input type="file" id="importjson" name="importjson" required/>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
                </form>
                {{#if importError}}
                <div class="alert alert-warning mt-2" role="alert">
                There was an error processing your JSON. Please have a look at it and make sure the format corresponds to what you see above.
                </div>
                {{/if}}
            </section>
            {{/unless}}

        </section>
        {{#if comments}}
        <footer class="section-footer container">
            <ol class="paginate-comments">
                <li class="paginate previous{{#if onFirstPage }} disabled{{/if}}">
                    <a href="/dashboard/?page={{ prevPage }}"{{#if onFirstPage }} tabindex="-1" aria-disabled="true"{{/if}}>previous</a>
                </li>
                {{#each pages}}
                <li class="paginate"><a class="{{#is this ../page}}active{{/is}}" href="/dashboard/?page={{ this }}">{{ this }}</a></li>
                {{/each}}
                <li class="paginate next{{#if onLastPage }} disabled{{/if}}">
                    <a href="/dashboard/?page={{ nextPage }}"{{#if onLastPage }} tabindex="-1" aria-disabled="true"{{/if}}>next</a>
                </li>
            </ol>
        </footer>
        {{/if}}
    </section>
</main>

{{> modalDeleteComment }}
{{> modalDeleteComments }}

<script src="/js/delete-comment-modal.js"></script>
<script>
  deleteCommentModal('.delete', '/dashboard/comment/delete')();
  let select = document.getElementById('manageComments');
  let approveOption = select.querySelector('option[value=approve]');
  select.removeChild(approveOption);
</script>