<div class="container">
  <ul class="nav nav-pills mb-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/dashboard/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account/settings/">Settings</a>
    </li>
    <li class="nav-item pull-right">
      <a class="nav-link" href="/auth/logout">Sign out</a>
    </li>
  </ul>

  <ul class="nav nav-tabs mb-3" id="dashboardTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="/dashboard" class="nav-link" role="tab" aria-controls="comments" aria-selected="false">Comments ({{ commentCount }})</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="/dashboard/review" class="nav-link active" role="tab" aria-controls="reviews" aria-selected="true">For review ({{ reviewCount }}</a>
    </li>
  </ul>

  <section class="mb-4">
      <button type="button" id="btnSelectAll" class="btn-primary">Select all</button> and <button type="button" id="btnDeleteMultiple" class="btn-danger">delete selected</button>
  </section>

  {{#each comments}}
  <article class="comment-container mb-4 ms-1">
    <div class="comment-target">
      <a href="{{ postUrl }}">{{#if postTitle}}{{ postTitle }}{{else}}{{ postUrl }}{{/if}}</a>
    </div>
    <div class="comment-meta">
      <span title="{{ dateFormat postedAt 'llll' }}">{{ relativePostedAt }}</span>
      by
      {{ author.name }}
      {{#if author.email}}
      , {{ author.email }}
      {{/if}}
      {{#if author.website}}
      , {{ author.website }}
      {{/if}}
      <button class="btn delete-spam" data-id="{{ id }}"
        title="Delete"><i class="cil-trash"></i></button>
      <button class="btn not-spam-comment" data-id="{{ id }}"
        title="Not spam"><i class="cil-thumb-up"></i></button>
    </div>
    <div class="comment-contents">
      <input type="checkbox" class="comment-single-select" value="{{ id }}"/>
      {{ text }}
    </div>
  </article>
  {{/each}}
  {{#unless comments}}
  <p>There's nothing for you to review at the moment</p>
  {{/unless}}
  {{#if comments}}
  <nav aria-label="Comment paging">
    <ul class="pagination">      
      <li class="page-item{{#if onFirstPage }} disabled{{/if}}">
        <a class="page-link" href="/dashboard/review?page={{ prevPage }}"{{#if onFirstPage }} tabindex="-1" aria-disabled="true"{{/if}}>Previous</a>
      </li>     
      {{#each pages}}
      <li class="page-item{{#is this ../page}} active{{/is}}"><a class="page-link" href="/dashboard/review?page={{ this }}">{{ this }}</a></li>
      {{/each}}
      <li class="page-item{{#if onLastPage }} disabled{{/if}}">
        <a class="page-link" href="/dashboard/review?page={{ nextPage }}"{{#if onLastPage }} tabindex="-1" aria-disabled="true"{{/if}}>Next</a>
      </li>
    </ul>
  </nav>
  {{/if}}
  <div class="alert alert-warning d-none" id="infoProblemDeletingComment" role="alert">
    There was a problem deleting this comment, sorry about that!
  </div>
  <div class="alert alert-warning d-none" id="infoProblemPromotingComment" role="alert">
    There was a problem marking this comment not spam, sorry about that!
  </div>
</div>
<div class="modal" tabindex="-1" id="deleteCommentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Really delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this comment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCancelDelete">Cancel</button>
        <button type="button" class="btn btn-primary" id="btnDeleteComment">Yup, delete this!</button>
      </div>
    </div>
  </div>
</div>


<script>
  document.querySelectorAll('.delete-spam').forEach(el => {
    el.addEventListener('click', function(ev) {
      ev.preventDefault();
      let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      let element = ev.target.parentNode;
      let id = element.getAttribute('data-id');
      if (!id) return;

      let confirmModal = new bootstrap.Modal(document.getElementById('deleteCommentModal'));
      let btnConfirm = document.querySelector('#btnDeleteComment')
      let btnCancel = document.querySelector('#btnCancelDelete')
      let confirm = () => {
        fetch('/dashboard/spam/delete', {
          method: 'POST',
          body: JSON.stringify({ id }),
          headers: {
            'CSRF-Token': token,
            'content-type': 'application/json'
          }
        }).then(response => {
          if (response.status === 201) {
            document.location = document.location;
            return;
          }
          console.error(response.status);
          document.querySelector('#infoProblemDeletingComment').classList.remove('d-none');
          confirmModal.hide();
        });
      };
      let cancel = () => {
        btnConfirm.removeEventListener('click', confirm);
        btnCancel.removeEventListener('click', cancel);
      }

      btnConfirm.addEventListener('click', confirm);
      btnCancel.addEventListener('click', cancel);

      confirmModal.show();
    })
  });

  document.querySelectorAll('.not-spam-comment').forEach(el => {
    el.addEventListener('click', function(ev) {
      let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      let element = ev.target.parentNode;
      let id = element.getAttribute('data-id');
      if (!id) return;

      fetch('/dashboard/spam/unmark', {
        method: 'POST',
        body: JSON.stringify({ id }),
        headers: {
          'CSRF-Token': token,
          'content-type': 'application/json'
        }
      }).then(response => {
        if (response.status === 201) {
          document.location = document.location;
          return;
        }
        console.error(response.status);
        document.querySelector('#infoProblemPromotingComment').classList.remove('d-none');
      });
    });
  })

  document.getElementById('btnSelectAll').addEventListener('click', function(ev) {
      Array.from(document.getElementsByClassName('comment-single-select')).forEach(e => {
          e.checked = true;
      })
  });

  document.getElementById('btnDeleteMultiple').addEventListener('click', function(ev) {
      ev.preventDefault();
      let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      let element = ev.target.parentNode;
      let ids = Array.from(document.getElementsByClassName('comment-single-select')).filter(e => e.checked).map(e => e.value);
      if (!ids.length) return;

      let confirmModal = new bootstrap.Modal(document.getElementById('deleteCommentModal'));
      let btnConfirm = document.querySelector('#btnDeleteComment');
      let btnCancel = document.querySelector('#btnCancelDelete');
      let confirm = () => {
        fetch('/dashboard/spam/deleteAll', {
          method: 'POST',
          body: JSON.stringify({ ids }),
          headers: {
            'CSRF-Token': token,
            'content-type': 'application/json'
          }
        }).then(response => {
          if (response.status === 201) {
            document.location = document.location;
            return;
          }
          console.error(response.status);
          document.querySelector('#infoProblemDeletingComment').classList.remove('d-none');
          confirmModal.hide();
        });
      };
      let cancel = () => {
        btnConfirm.removeEventListener('click', confirm);
        btnCancel.removeEventListener('click', cancel);
      }

      btnConfirm.addEventListener('click', confirm);
      btnCancel.addEventListener('click', cancel);

      confirmModal.show();

  });
</script>